.wrapper-page {
  margin: 2% auto !important;
  position: relative!important;
  width: 50%!important;
}
.margem-esquerda{
    margin-left: 4%!important;
}
body{
  background: url("../images/agsquare.png")!important; 
}